{% extends "base.html" %}


{%block title %}Underground Tourist - Purchase Product{% endblock %}


{% block header %}Purchase Product{% endblock %}


{% block header_text %}
    <p>{{ product.name }} </p>
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url "product-detail" pk=product.id %}">Back to Product Details</a>
    </p>
{% endblock %}


{% block breadcrumb %}
    <li><a href="{% url "product-list" %}">Home</a></li>
    <li>
        <a href="{% url "product-detail" pk=product.id %}">Product Detail</a>
    </li>
    <li class="active">Purchase</li>
{% endblock%}


{% block body %}
    <div class="page-header">
        <h1>{{ product.name }}</h1>
        <h1><small>${{ product.price }}</small></h1>
        <div class="well well-sm">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#">
                        Inventory on Hand
                        <span class="badge">
                            {{ product.inventory_on_hand }}
                        </span>
                    </a>
                </li>
            <ul>
        </div>
    </div>

    <div class="well well-lg">
        <form action="" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Confirm Purchase</button>
        </form>
    </div>
{% endblock %}