{% extends "base.html" %}


{%block title %}Underground Tourist - Success {% endblock %}


{% block header %}Purchase Confirmation{% endblock %}


{% block header_text %}
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url "product-list" %}">Back to Products List</a>
    </p>
{% endblock %}


{% block breadcrumb %}
    <li><a href="{% url "product-list" %}">Home</a></li>
    <li>Product Detail</li>
    <li>Purchase</li>
    <li class="active">Confirmation</li>
{% endblock%}

{% block body %}
    <div class="page-header">
        {% if message %}
            <h1>{{ message }}</h1>
        {% else %}
            <h1>Hello {{name}}! Thank you for your purchase of {{ product }}. Your confirmation number is {{ confirmation_code }}</h1>
        {% endif %}
    </div>
{% endblock %}