{% extends "base.html" %}


{%block title %}Underground Tourist - Product List{% endblock %}


{% block header %}Product List{% endblock %}


{% block header_text %}Welcome! Browse around at our vast array of products{% endblock %}


{% block breadcrumb %}
    <li>Home</li>
{% endblock%}


{% block body %}
    {% if products %}
        <ul class="list-group">

        {% for product in products %}
            <li class="list-group-item">
                <a href="{% url "product-detail" pk=product.id %}">
                     <h4 class="list-group-item-heading">{{ product.name }}</h4>
                     <p class="list-group-item-text">
                         ${{ product.price }}
                     </p>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <!-- UT_ERROR: Fail-safe if its the first time ever running the app and the API doesn't respond -->
        Something seems to have gone wrong, please refresh the page
    {% endif %}

{% endblock %}