{% extends "base.html" %}


{% block title %}Underground Tourist - {{ product.name }} {% endblock %}


{% block header %}Product Detail{% endblock %}


{% block header_text %}
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url "product-list" %}">Back to Products List</a>
    </p>
{% endblock %}


{% block breadcrumb %}
    <li><a href="{% url "product-list" %}">Home</a></li>
    <li class="active">Product Detail</li>
{% endblock%}


{% block body %}
    <div class="page-header">
        <h1>{{ product.name }}</h1>
        <h1><small>${{ product.price }}</small></h1>
    </div>
    <div class="well well-lg">
        {{ product.description | safe }}
    </div>
    <div class="well well-sm">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#">
                    Inventory on Hand
                    <span class="badge">
                        {{ product.inventory_on_hand }}
                    </span>
                </a>
            </li>
        <ul>
    </div>
    {% if product.inventory_on_hand > 0 %}
        <div class="well well-sm">
            <a name="purchase-button" class="btn btn-success btn-lg" role="button" href="{% url "purchase-product" pk=product.id %}">
            Purchase
            </a>
        </div>
    {% endif %}
{% endblock %}