<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="ashton@ashtonpaul.com">
        
        <title>{%block title %}{% endblock %}</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Undercover Tourist Assignment</a>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>{% block header %}Header{% endblock %}</h1>
                <p>{% block header_text %}Header text{% endblock %}</p>
            </div>
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </ol>
            {% block body %}{% endblock %}
        </div> 
        <footer class="footer">
            <div class="container">
                <p>Undercover Tourist Assignment</p>
            </div>
            
        </footer>
    </body>
</html>